.filter-container{
    width: 15%;
    padding-left: 20px;
    margin-right: 20px;
}

.sport-category{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
}

.sort-by {
    padding: 5px;
}

.radio-info{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.radio-info input{
    margin-right: 5px;
}

@media(max-width:1024px){
   .filter-container{
        width:100%;
   }
}